@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MindBodySynergy</h1>
    <p>The place for training and nutrition programs.</p>
<img src="~/../wwwroot/images/mindbodysynergy.jpg">
    
</div>
